name: Build
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: borales/actions-yarn@v2.1.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.1.0
        with:
          cmd: lint
      - uses: borales/actions-yarn@v2.1.0
        with:
          cmd: build
      - uses: TriPSs/conventional-changelog-action@v1.2.0
        with:
          github-token: ${{ secrets.github_token }}
          git-message: 'chore(release): {version}'
          output-file: 'CHANGELOG.md'
          changelog-release-count: 5
      - uses: primer/publish@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          NPM_REGISTRY_URL: registry.npmjs.org
